ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
    display: inline-block;  
}

a {
    padding: 20px;
    display: block;
}

.link {
    text-decoration: none;
    color: black;
}   

input {
    border: 1px solid black;
}

